@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~stream-chat-react/dist/css/v2/index.css";

@layer base {
 
:root  {
  --background: 209 0% 95%;
  --foreground: 209 0% 0%;
  --card: 209 0% 90%;
  --card-foreground: 209 0% 10%;
  --popover: 209 0% 95%;
  --popover-foreground: 209 95% 0%;
  --primary: 209 94% 53%;
  --primary-foreground: 0 0% 100%;
  --secondary: 209 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 171 10% 85%;
  --muted-foreground: 209 0% 35%;
  --accent: 171 10% 80%;
  --accent-foreground: 209 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 209 0% 90%;
  --border: 209 20% 50%;
  --input: 209 20% 18%;
  --ring: 209 94% 53%;
  --radius: 1rem;
}
.dark  {
  --background: 209 10% 5%;
  --foreground: 209 0% 90%;
  --card: 209 0% 0%;
  --card-foreground: 209 0% 90%;
  --popover: 209 10% 5%;
  --popover-foreground: 209 0% 90%;
  --primary: 209 94% 53%;
  --primary-foreground: 0 0% 100%;
  --secondary: 209 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 171 10% 15%;
  --muted-foreground: 209 0% 60%;
  --accent: 171 10% 15%;
  --accent-foreground: 209 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 209 0% 90%;
  --border: 209 20% 18%;
  --input: 209 20% 18%;
  --ring: 209 94% 53%;
  --radius: 1rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.str-chat {
  --str-chat__font-family: inherit;
  --str-chat__primary-color: theme(colors.primary.DEFAULT);
  --str-chat__on-primary-color: theme(colors.primary.foreground);
  --str-chat__active-primary-color: theme(colors.primary.foreground);
  --str-chat__primary-color-low-emphasis: color-mix(
    in hsl,
    hsl(var(--primary)) 10%,
    transparent
  );
  --str-chat__background-color: theme(colors.card.DEFAULT);
  --str-chat__secondary-background-color: theme(colors.card.DEFAULT);
  --str-chat__message-textarea-background-color: theme(colors.background);
  --str-chat__channel-preview-active-background-color: theme(
    colors.accent.DEFAULT
  );
  --str-chat__channel-preview-hover-background-color: var(
    --str-chat__channel-preview-active-background-color
  );
  --str-chat__secondary-surface-color: theme(colors.muted.DEFAULT);
  --str-chat__own-message-bubble-color: theme(colors.primary.foreground);
  --str-chat__primary-surface-color: theme(colors.primary.DEFAULT);
  --str-chat__primary-surface-color-low-emphasis: var(
    --str-chat__primary-color-low-emphasis
  );
  --str-chat__disabled-color: theme(colors.muted.DEFAULT);
  --str-chat__cta-button-border-radius: var(--radius);
}

.str-chat-channel-list {
  border-right: none;
}

.str-chat__channel-list-react .str-chat__channel-list-messenger-react {
  padding-bottom: 0;
}

.str-chat__channel-search-bar-button--exit-search {
  display: none;
}
